<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ .WebRoot}}/css/pico-master/css/pico.min.css">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{ .WebRoot}}/favicon.png"/>
  </head>
  <body>
    <main class="container">
      <p style="text-align: right;"> Page {{.Page}} of {{.NumPages}} </p>
      <img src="{{ .WebRoot}}{{.PageImageUrl}}" style="display:block;margin-left:auto;margin-right:auto;width:100%;object-fit:cover;">
      <br/>
      <div class="grid">
	<div>
	  {{ if .HasPrev }}
	  <form action="{{ .WebRoot}}{{ .Prev }}" method="post"><input type="submit" value="Prev"/></form>
	  {{ else }}
	  <form action="{{ .WebRoot}}{{ .Prev }}" method="post"><input type="submit" value="Prev" disabled/></form>
	  {{ end }}
	</div>
	<div>
	  {{ if .HasNext }}
	  <form action="{{ .WebRoot}}{{ .Next }}" method="post"><input type="submit" value="Next" /></form>
	  {{ else }}
	  <form action="{{ .WebRoot}}/"><input type="submit" value="Home" /></form>
	  {{ end }}
	</div>
      </div>

      <div class="grid">
	<div><form action="{{ .WebRoot}}{{ .First }}" method="post"><input type="submit" value="First"/></form></div>
	<div><form action="{{ .WebRoot}}{{ .Back }}" method="post"><input type="submit" value="Back"/></form></div>
	<div><form action="{{ .WebRoot}}{{ .Last }}" method="post"><input type="submit" value="Last"/></form></div>
      </div>

    </main>
  </body>
</html>

